# =========================
# Direct dependencies
# =========================

# Main backend web framework
Django==5.2.8

# REST API support for Django
djangorestframework==3.16.1

# JWT authentication for APIs
djangorestframework_simplejwt==5.5.1

# WebSocket and async support for Django
channels==4.3.2

# Redis backend for Django Channels
channels_redis==4.3.0

# ASGI server for Django and WebSockets
daphne==4.2.1

# Allow frontend to access backend APIs (CORS)
django-cors-headers==4.9.0

# Redis client
redis==7.1.0

# Load environment variables from .env
python-dotenv==1.2.1

# PostgreSQL database adapter
psycopg2-binary

# Django caching with Redis backend.
django-redis

# SendGrid email backend for Django
sendgrid==6.12.5

# supabase database configuration
dj-database-url==3.1.0
psycopg2-binary==2.9.11


# =========================
# Indirect dependencies
# (installed automatically by the stack above)
# =========================

# Async reference utilities
# Installed by: Django, Channels
asgiref==3.11.0

# Core async networking engine
# Installed by: Channels, Daphne
Twisted==25.5.0

# WebSocket protocol support
# Installed by: Twisted
autobahn==25.12.1

# State machine helpers
# Installed by: Twisted
Automat==25.4.16

# Encryption and security primitives
# Installed by: Twisted, pyOpenSSL
cryptography==46.0.3

# OpenSSL bindings
# Installed by: cryptography
pyOpenSSL==25.3.0

# Redis message serialization
# Installed by: channels_redis
msgpack==1.1.2

# JWT utilities
# Installed by: djangorestframework-simplejwt
PyJWT==2.10.1

# SQL parsing utilities
# Installed by: Django
sqlparse==0.5.3

# Utility and helper libraries
# Installed by: Twisted, Autobahn, cryptography
attrs==25.4.0
constantly==23.10.4
zope.interface==8.1.1
typing_extensions==4.15.0
idna==3.11

# Low-level helpers and protocol support
cbor2==5.7.1
cffi==2.0.0
hyperlink==21.0.0
Incremental==24.11.0
packaging==25.0
py-ubjson==0.16.1
pyasn1==0.6.1
pyasn1_modules==0.4.2
pycparser==2.23
service-identity==24.2.0
txaio==25.12.2
tzdata==2025.2
ujson==5.11.0
